body{
    font-family: 'lato',sans-serif;
    background-color:rgb(143, 142, 92);
}
.container{
    text-align: center;
    margin-top: 50px;

}
h1{
    color: #fff;
    font-size: 30px;
}
button{
 width: 100px;
 height: 135px;
 background-color: #fff;
 font-size: 30px;
 border:none;
 outline: none;
 border-radius: 100%;
 margin-inline: 11px;

}